<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzy.kts.dao.FriendMapper">
    <select id="findFriendByUserId" resultType="string">
        select user_id
        from (select friend_id as userid
              from mychat_friend
              where user_id = #{userid}
              union
              select user_id as userid
              from mychat_friend
              where friend_id =  #{userid}) as temp;
    </select>
</mapper>