<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzy.kts.dao.GroupMemberMapper">
    <select id="findGroupIdByUserId" resultType="string">
        select group_id from mychat_group_member where group_member = #{userId};
    </select>
    <select id="findMemberByGroupId" resultType="string">
        select group_member from mychat_group_member where group_id = #{groupId}
    </select>
</mapper>